######################################################################
.vs/*
Application/Api/HandsFreeWebServer.Api.Application/bin/*
Application/Api/HandsFreeWebServer.Api.Application/obj/*
Application/Web/HandsFreeWebServer.Web.Application/bin/*
Application/Web/HandsFreeWebServer.Web.Application/obj/*
Application/Web/HandsFreeWebServer.Web.Application/.vs/*
Domain/HandsFreeWebServer.Domain/bin/*
Domain/HandsFreeWebServer.Domain/bin/*
Domain/HandsFreeWebServer.Domain/.vs/*
Infrasturcture/HandsFreeWebServer.Infrastructure/bin/*
Infrasturcture/HandsFreeWebServer.Infrastructure/obj/*
Infrasturcture/HandsFreeWebServer.Infrastructure/.vs/*
Presentation/Api/HandsFreeWebServer.Presentation.Api/bin/*
Presentation/Api/HandsFreeWebServer.Presentation.Api/obj/*
Presentation/Api/HandsFreeWebServer.Presentation.Api/.vs/*
Presentation/Api/HandsFreeWebServer.Presentation.Api.Sub/bin/*
Presentation/Api/HandsFreeWebServer.Presentation.Api.Sub/obj/*
Presentation/Api/HandsFreeWebServer.Presentation.Api.Sub/.vs/*
Presentation/Web/HandsFreeWebServer.Presentation.Web/bin/*
Presentation/Web/HandsFreeWebServer.Presentation.Web/obj/*
Presentation/Web/HandsFreeWebServer.Presentation.Web/.vs/*
Presentation/Web/HandsFreeWebServer.Presentation.Web.Sub/bin/*
Presentation/Web/HandsFreeWebServer.Presentation.Web.Sub/obj/*
Presentation/Web/HandsFreeWebServer.Presentation.Web.Sub/.vs/*
Presentation/Web/HandsFreeWebServer.Presentation.Web/HandsFreeWebServer.Presentation.Web.csproj.user
Presentation/Api/HandsFreeWebServer.Presentation.Api/HandsFreeWebServer.Presentation.Api.csproj.user
